body {
    padding-top: 70px;
  }

h1 {
  color: #5B5F97 !important;
}

#footer{

   margin-top: 15px;
   width: 100%;
  background: #4d99b3;
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding: 20px;
}
